<form class="form-horizontal" name="form1">
    <div class="form-group">
        <label class="col-sm-2 control-label">名称</label>
        <div class="col-sm-10">
            <input type="text" name="sysName" class="form-control" ng-model="vm.system.name"
                   placeholder="系统名称，只能为英文字符，最长15个字符"
                   ng-pattern="/^[a-zA-Z]+$/" maxlength="15" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">描述</label>
        <div class="col-sm-10">
            <textarea name="sysDesc" class="form-control" placeholder="系统描述，最长200个字符"
                      ng-model="vm.system.desc" maxlength="200"></textarea>
        </div>
    </div>
    <div class="form-group" ng-show="vm.message">
        <div class="col-sm-10 col-sm-offset-2 text-danger">
            {{vm.message}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="vm.submit()"
                    ng-disabled="form1.$invalid">提交</button>
        </div>
    </div>
</form>  