<div class="col-xs-3">
	<div class="list-group" ng-repeat="group in vm.sys.groups">
		<a href="" class="list-group-item active" ng-click="vm.goto(group)">
			{{group.name}}
		</a>
		<a href="" class="list-group-item" ng-repeat="api in group.apis" ng-click="vm.goto(api)">
			{{api.name}}
		</a>
	</div>
</div>

<div class="col-xs-9">
	<div ng-repeat="group in vm.sys.groups" id="{{group.guid}}">
		<div class="well" style="font-size: 16px; font-weight: 700;">{{group.name}}</div>
		<div class="panel panel-default" ng-repeat="api in group.apis" id="{{api.guid}}">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{api.name}}</h3>
		  </div>
		  <div class="panel-body">
		    <p>
		    	{{api.description}}
		    </p>
				<p>
					<span class="label label-success">{{api.method}}</span>
				</p>
				<p>
					<code style="display: block; padding: 5px; ">
						{{api.url}}
					</code>
				</p>
				<table class="table table-bordered">
					<caption>输入参数</caption>
				  <thead>
				  	<tr>
				  		<th width="25%">字段</th>
				  		<th width="25%">类型</th>
				  		<th>描述</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr ng-repeat="req in api.request">
				  		<td>{{req.field}}</td>
				  		<td>{{req.type}}</td>
				  		<td>{{req.description}}</td>
				  	</tr>
				  </tbody>
				</table>
				<table class="table table-bordered">
					<caption>输出参数</caption>
				  <thead>
				  	<tr>
				  		<th width="25%">字段</th>
				  		<th width="25%">类型</th>
				  		<th>描述</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr ng-repeat="resp in api.response">
				  		<td>{{resp.field}}</td>
				  		<td>{{resp.type}}</td>
				  		<td>{{resp.description}}</td>
				  	</tr>
				  </tbody>
				</table>
		  </div>
		</div>
	</div>
</div>