<div class="api-test">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{vm.api.name}} - 接口测试
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-4" style="border-right: 1px solid #ddd;">
                    <p>
                        {{vm.api.desc}}
                    </p>

                    <p>
                        <span class="label label-success">{{vm.api.method | methodFilter}}</span>
                    </p>

                    <p>
                        <code style="display: block; padding: 5px; ">
                            {{vm.api.url}}
                        </code>
                    </p>

                    <p>输入参数</p>
                    <textarea ui-codemirror="vm.cmOption" class="form-control" ng-model="vm.api.request"></textarea>

                    <p>输出参数</p>
                    <textarea ui-codemirror="vm.cmOption" class="form-control" ng-model="vm.api.response"></textarea>
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-12">
                        <select class="form-control" style="display: inline-block;width: 90px;">
                            <option value="1">GET</option>
                            <option value="2">POST</option>
                        </select>
                        <input type="text" class="form-control" placeholder="目标url"
                               style="display: inline-block;width: 600px;" ng-model="vm.formData.url">
                        <button class="btn btn-primary" type="button" ng-click="vm.send()">Send</button>
                        <button class="btn btn-default" type="button">Clear</button>
                    </div>

                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" style="margin: 20px 0;">
                            <li role="presentation" ng-class="{true:'active'}[tab==vm.formData.selectedTab]"
                                ng-repeat="tab in vm.formData.tabs" ng-click="vm.selectTab(tab)">
                                <a href="javascript:void(0);">{{tab.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12" ng-show="vm.formData.selectedTab.name=='Params'">
                        <div ng-repeat="p in vm.formData.params">
                            <input type="text" class="form-control" ng-model="p.key"
                                   style="display: inline-block;width: 200px;" placeholder="key">
                            <input type="text" class="form-control" ng-model="p.value"
                                   style="display: inline-block;width: 200px;" placeholder="value">
							<span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: #d9534f;"
                                  ng-click="vm.removeOne(vm.formData.params, $index)"></span>
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="color: #337ab7;"
                                  ng-click="vm.addOne(vm.formData.params)"></span>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="vm.formData.selectedTab.name=='Headers'">
                        <div ng-repeat="h in vm.formData.headers">
                            <input type="text" class="form-control" ng-model="h.key"
                                   style="display: inline-block;width: 200px;" placeholder="key">
                            <input type="text" class="form-control" ng-model="h.value"
                                   style="display: inline-block;width: 200px;" placeholder="value">
							<span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: #d9534f;"
                                  ng-click="vm.removeOne(vm.formData.headers, $index)"></span>
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="color: #337ab7;"
                                  ng-click="vm.addOne(vm.formData.headers)"></span>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="vm.formData.selectedTab.name=='Body'">
                        <div ng-repeat="b in vm.formData.body">
                            <input type="text" class="form-control" ng-model="b.key"
                                   style="display: inline-block;width: 200px;" placeholder="key">
                            <input type="text" class="form-control" ng-model="b.value"
                                   style="display: inline-block;width: 200px;" placeholder="value">
							<span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: #d9534f;"
                                  ng-click="vm.removeOne(vm.formData.body, $index)"></span>
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="color: #337ab7;"
                                  ng-click="vm.addOne(vm.formData.body)"></span>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <hr/>
                    </div>

                    <div class="col-sm-12">
                        <p>Response</p>
                        <textarea ui-codemirror="vm.cmOption" class="form-control"
                                  ng-model="vm.formData.output"></textarea>

                        <p>
                            <button class="btn btn-default" type="button" ng-click="vm.formatResp()">Format</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>